# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.env

.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/


postgres_data/
mongo_data/

*.log